.board{
/*     width: 45vh; */
    height: 56vh;
    background-color: #292d36;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}