.containerBtn {
    width: 10vh;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn {
    border: none;
    transition: box-shadow 0.1s ease-in-out;
    width: 8vh;
    height: 8vh;
    background-color: #272b33;
    color: #f8f8f8;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vh;
    /* font-weight: bold; */
}
.btn:active{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btnWhite{
    color: #f8f8f8;
}
.btnGreen{
    color: #26bfa3;
}
.btnRed{
    color: #d25f5f;
    font-weight: 700;
}
